@page
@model Lab4.Pages.Workers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Our Workers</h2>

<p>
    <a asp-page="Create">Hire New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Worker[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker[0].Hobby)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Worker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Fire</a>
            </td>
        </tr>
}
    </tbody>
</table>
